<div class="container text-center">
    <img src="./assets/img/logo.png" class="img-thumbnail img-responsive">
    <div class="row">
        <div class="col-md-12">
            <div class="main-icon text-warning"><span class="uxicon uxicon-alert"></span></div>
            <h1>© 2020 Apponext Systems & Tecgnology LLP. All rights reserved.</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-md-push-3">
            <p class="lead">eVIM Version 1.0.1</p>
            <p class="lead">Vendor Invoice Management (eVIM) is a project Solution, which is designed for Accounts Payable Invoice operations.</p>
        </div>
    </div>
</div>